*, ::before, ::after{

    box-sizing:border-box;
    margin:0;
    padding:0;
    
}

body{
    height: 50vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background.png");

}

.background{
        width: 100%;
        
}




.contenu-principal{
    width: 100%;
    height: 100vh;
}

footer{
  
    background-color: whitesmoke;
    opacity: 50%;
  
   
    
}
.contenu-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    color: grey;
    font: ;
    

}

.contenu-partenariat img{

    width: 60px;
}

.contenu-aide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

#style{
    text-decoration: none;
}
.contenu-suivez-nous{


   
}

.listeLogo{
    
    list-style: none;
}

