*, ::before, ::after{

    box-sizing:border-box;
    margin:0;
    padding:0;
    
}

body{
    height: 50vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.contenu-principal{
    width: 100%;
    height: 100vh;
}

footer{
    border-top: 1px dashed black;
}
.contenu-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

}

.contenu-partenariat img{

    width: 60px;
}

.contenu-aide{
    text-decoration: none;
    list-style: none;
}

#style{
    text-decoration: none;
}
.contenu-suivez-nous{

   
}

.listeLogo{
    
    list-style: none;
}

