body{
    padding: 0;
    margin:0;
    
    
}

h1{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5rem;
}
.carnaval{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
    

}

.defile img{

    width: 700px;
}

.vide{
    width: 100%;
    height: 25vh;
}
.vide2{
    width: 100%;
    height: 40vh;
}

.texte1{
    
    width: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;

   
    
   
}

h2{
    font-size: 2.1rem;
    text-align: left;
    padding: 20px;
}

p{
    text-align: justify;    
}
#mark1{ background-color: rgb(255, 255, 2);
       border: 8px solid  rgb(22, 22, 163);
       border-radius: 3rem;

}
#mark2{ color: rgb(22, 22, 163);

}  
#mark3{ color:rgb(31, 136, 28);

}



span{
    display: flex;
    justify-content: center;

    font-size: 5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:50px;
   
}
.cuisine{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding:0; 
   
 
 

  

}
.texte2{
   
    width: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-align: justify;
    
}

.cuisine_photo img{
        border: 2px blue solid;
        width: 370px;
        height: 300px;
        
       
}

.cuisine_photo{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}


.condemble{
    display: flex;
    justify-content: space-around;
    width: 100%;    
   height: 80vh;
   

}

.condemble_photo img{
    width: 700px;

}

.texte3{
 
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-align: justify;
   
}
h2{
    text-align: center;
}

.slide{
    float: left;
    
    
}

.slider{ 
    height: 800px;
  
   
}

.slide img{
    float: left;
    width: 1420px;
    height: 800px;

   
  
   
}

.slides{
    width: 100%;
    height: 800px;
    
}

table.damier{
        border-collapse: collapse;
        padding: 0;
        border:0;


}

.damier td{
    max-height: 280px;

}

.damier img{
   width: 280px;
   margin-bottom: -7px;
 

}

.invisble{
    width: 280px;
    height: 280px;

}

.tr{
    height: 280px;

}

.cover{
    height: 280px;
    width: 280px;
}