/*-------------------Header--------------*/
body {
    margin:  0;
    padding: 0;
}

nav {
    background-color: rgba(245, 245, 245, 0.562);
    
}

#logo {
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
    float: right;
}

ul li {
    display: block;
    float: left;
}

li ul {
    display: none;
}

ul li  a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    color: black;
    width:100px; 
    margin-right: 50px;
    border-radius:5%;
}

li:hover ul {
    display: block;
}

li:hover li {
    float: none;
}

.acc {
    margin-top: 40px;
}

a {
    text-align: center;
}

a:hover {
    background-color: #E7E7E7;
    border-radius: 10px;   
}


/*----------------------Fin--------------*/


body{
    padding: 0;
    margin:0;
    font-family: 'Oxygen', sans-serif; 
    font-family: 'Staatliches', cursive; 
  
    
}
main{
    height: 700vh;

}
header{
    position:relative;
    height:10vh;
    z-index: 3;
}
    
.titreBrazil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    text-shadow: rgb(0, 0, 0) 1px 0px 10px;
    z-index: 2;
    position: absolute;
  
}

h1{
   
    font-family: Oxygen, sans-serif;
    font-size: 8rem;
    color: whitesmoke;
    font-variant: small-caps;  /* ne fonctionne pas*/
}


.slider{ 
    width: 1420px;
    height: 800px;
    overflow: hidden;
    position:absolute;
    z-index: 1;
    opacity: 80%;
   
   
}
/*----------------------------------Header----------------------------------------------*/
ul {
    list-style:none;
    padding:0;
    margin:0;
}

ul li {
    display: block;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    font-family:helvetica;
    font-size:20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    width:100px; 
    
    border-radius:5%;
}

li:hover ul {
    display: block;
}

li:hover li {
    float: none;
}

/*----------------------------------Header----------------------------------------------*/


.carnaval{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    

}

.defile img{

    width: 700px;
    transform:rotate(270deg);
}

.vide{
    width: 100%;
    height: 170vh;
}
.vide2{
    width: 100%;
    height: 60vh;
}
.vide3{
    width: 100%;
    height: 25vh;
}
.vide4{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
p{
    text-align: justify;
    font-size: 0.9rem;
    font-family:'Staatliches', cursive;    
}

.texte1{
    
    width: 60%;
    
}
.texte2{
    width: 70%;
    font-size: 0.9rem;
    border: red solid 2px;
    
    
}

.texte3{
 
    width: 70%;
    font-size: 0.9rem;
   

}


.titreArticle {
    font-size: 2rem;
    text-align: left;
    width: 50%;
    height: 30px;
   font-family: Oxygen, sans-serif; 
    border: 2px solid red;
    margin-bottom: 100px;
}

  
span{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: Oxygen, sans-serif;
    font-weight: bolder;
}


.cuisine{
    width: 100%;
    height: 60vh;
    display: flex;
    border: 2px red solid;
    justify-content: space-around;
    align-items: center;
}


.cuisine_photo img{
       
        width: 50px;
        height: 50px;
}

.cuisine_photo{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.blocTexte3{
    weight: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    border: red 2px solid;
    
    
    
}
.condemble{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;    
   height: 70vh;
   border: 2px solid    rgb(160, 125, 125);

}

.condemble_photo img{
    width: 640px;
    
    padding: 0 0 0 20px;
}

.slide{
    float: left;
}

.slides{
    width: calc(1420px * 5);
    height: 800px;
    animation: glisse 60s infinite; 
}

@keyframes glisse { 
    0% { 
        transform: translateX(0px);
    }
    /*12% { 
        transform: translateX(0px);
    }*/
    25% { 
    transform: translateX(-1420px);
    }
    /*37% { 
        transform: translateX(-1420px);
        }*/
    50% { 
    transform: translateX(-2840px); 
    }
    /*62% { 
        transform: translateX(-2840px); 
        }*/
    75% { 
    transform: translateX(-4260px);
    }
    /*87% { 
        transform: translateX(-4260px);
        }*/
    100% { 
    transform: translateX(0px);
}
}
/*----------------------------tableau---------------------------------*/ 
.damier{
        border-collapse: collapse;
        padding:0;
        border:0;
}

.damier td{
    max-height: 280px;
}

.damier img{
   width: 280px;
   margin-bottom: -7px;
 }

.invisble{
    width: 280px;
    height: 280px;
}

.tr{
    height: 280px;
}

.cover{
    height: 280px;
    width: 280px;
    transition: 1s;
}

.cover:hover{
    transform: scale(1.5,1.5);
    transition: 0.5s;
}
.cover[open] summary{
    margin-bottom: .5rem;
}

.player{
    height: 280px;
    width: 280px;
    transition: 1s;
}

.player:hover{
    transform: scale(1.5,1.5);
    transition: 0.5s;
}

  
.player audio{
    width: 280px;
    outline: none;
    background-: white;

}
